.main-page {
    background-color: #1b1a1b;
    background-image: url('../assets/Images/LogoSPE.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #010004;
    padding: 1%;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 100% solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .maintext{
    text-shadow: 
    #e486e4 0 0 12px,
    rgb(146, 16, 169) 0 0 25px,
    #c87fe2 0 0 35PX,
    #A91079 0 0 45PX;
    font-size: 6em; /* Adjust the font size as needed */
    font-family: 'Dancing Script', cursive;
    text-align: right; /* Align text to the right */
    position: fixed; /* Position the text relative to the viewport */
    bottom: 10%; /* Move the text 10px from the bottom */
    right: 50%; /* Move the text 10px from the right */
  }
  
  .maintext h3 {
    font-size: 40%; /* Adjust the font size as needed */
    margin: 0; /* Remove any default margins */
  }
  
  .logoimage {
    position: fixed; /* Position the image relative to the viewport */
    bottom: -6px; /* Move the image 10px from the bottom */
    right: 10%; /* Move the image 10px from the right */
    width: 50%;
  }
  
  .logotext{
    text-shadow: 
    #e486e4 0 0 12px,
    rgb(146, 16, 169) 0 0 25px,
    #c87fe2 0 0 35PX,
    #A91079 0 0 45PX;
    font-size: 1.5em; /* Adjust the font size as needed */
    font-family: 'Dancing Script', cursive;
    text-align: center; /* Align text to the right */
    position: center; /* Position the text relative to the viewport */
    right:1%;
    bottom: 77%;
  }

  .input-container {
    padding: 5%;
    border-radius: 1px;
    /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); Top shadow */
    width: 220px; 
    margin: 0 auto;
    align-items: center;
  }
  
  .input-container label {
    font-size: 16px;
    align-items: center;
  }
  
  .input-container input[type="email"],
  .input-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #c83fc3;
    border-radius: 5px;
    background-color: rgba(115, 12, 124, 0.2);
    align-items: center;
  }

  .labelText h3{
    text-shadow: 
    #e486e4 0 0 12px,
    rgb(146, 16, 169) 0 0 25px,
    #c87fe2 0 0 35PX,
    #A91079 0 0 45PX;
    font-size: 1em; /* Adjust the font size as needed */
    font-family: 'Dancing Script', cursive;
    text-align: right; /* Align text to the right */
    position: absolute; /* Position the text absolutely within the container */
    top: 0; /* Align the text to the top of the container */
    right: 0; /* Align the text to the right of the container */
    margin-top: 20px; /* Add margin to the top to separate from the input field */
    margin-right: 10px; 
  }

  .center {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20px, 20px); /* Adjust as needed */
}